.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fdfdf8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0273F7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #022CD6;
}